* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  height: 100%;
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
}

#start-game-modal {
  border: 1px solid red;
  border-radius: 4px;
  padding: 16px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mt-2 {
  margin-top: 16px;
}